<h1>Contactos</h1>

@for (contact of contactsService.contacts.value(); track contact.id) {
  <div class="contacto-container" [routerLink]="[contact.id]" >
    <p>{{contact.firstName}}</p>
    <p>{{contact.lastName}}</p>
    <p>{{contact.phone}}</p>
    <p>Favorito: {{contact.isFavorite}}</p>
  </div>
} @empty {
  <p>No hay contactos</p>
}
@if(contactsService.contacts.isLoading()){
  <p>Cargando</p>
}
<a [routerLink]="['/contacts/new']">Agregar</a>
<button (click)="authService.logout()">Cerrar sesión</button>


<p>Grupos</p>
<ul>
  @for(group of groupsService.groups.value(); track group.id){
    <li>{{group.name}} - <button (click)="exportGroup(group.id)">Exportar</button> <button (click)="deleteGroup(group.id)">Borrar</button></li>
  }
</ul>


<button (click)="crearGrupo()">Crear grupo</button>

<button (click)="exportContacts()">Exportar contactos</button>