@if(contact.error()){
  <p>Contacto no encontrado</p>
} @else {
  <h2>
    {{contact.value()?.firstName | titlecase}} {{contact.value()?.lastName  | titlecase}}
  </h2>
  @if(contact.value()?.imageUrl){
    <img ngSrc="{{contact.value()?.imageUrl || 'images/placeholder_contact.jpeg'}}"  width="200" height="200">
  }
  @if(contact.value()?.phone){
    <a href="tel:{{contact.value()?.phone}}">
      <mat-icon fontIcon="call"/> {{contact.value()?.phone}}
    </a>
  }
  @if(contact.value()?.address){
    <a href="https://maps.google.com/{{contact.value()?.address}}">
      <mat-icon fontIcon="home"/>{{contact.value()?.address}}
    </a>
  }
  @if(contact.value()?.email){
    <a href="mailto:{{contact.value()?.email}}">
      <mat-icon fontIcon="contact_mail"/>{{contact.value()?.email}}
    </a>
  }
  <p>{{contact.value()?.description}}</p>
  <p>{{contact.value()?.company}}</p>
  
  <button mat-button [routerLink]="['edit']">Edit</button>

  <button mat-icon-button (click)="toggleFavorite()">
    @if(contact.value()?.isFavorite){
      <mat-icon fontIcon="star"/>
    } @else {
      <mat-icon fontIcon="bookmark_star"/>
    }
    <p>
  </button>

  <p>Grupos:</p>
  <ul>
    @for(group of currentGroups(); track group.id){
      <mat-chip [routerLink]="['/groups',group.id]">{{group.name}}</mat-chip>
    }
    @empty {
      <p>El contacto no se encuentra en ningún grupo</p>
    }
  </ul>
  
  <button mat-button (click)="delete()">Eliminar contacto</button>
  
  
  <h3>Grupos</h3>
  @for(group of groupsService.groups.value(); track group.id){
    <p>{{group.name}} <button mat-button (click)="toggleGroup(group.id)">
      @if(currentGroups()?.includes(group)){
        Sacar del grupo
      } @else {
        Agregar al grupo
      }
    </button></p>
  }
}
