@if(id()){
  <h1>Editar contacto</h1>
} @else {
  <h1>Nuevo contacto</h1>
}
<form (ngSubmit)="save()" [formGroup]="form">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput type="text" name="firstName" id="firstName" [autocomplete]="'name'" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput type="text" name="lastName" id="lastName" [autocomplete]="'lastName'" formControlName="lastName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Teléfono</mat-label>
    <input matInput type="text" name="phone" id="phone" [autocomplete]="'phone'" formControlName="phone">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Empresa</mat-label>
    <input matInput type="text" name="company" id="company" [autocomplete]="'company'" formControlName="company">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dirección</mat-label>
    <input matInput type="text" name="address" id="address" [autocomplete]="'address'" formControlName="address">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Correo electrónico</mat-label>
    <input matInput type="email" name="email" id="email" [autocomplete]="'current-email'" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Imagen</mat-label>
    <input matInput type="text" name="imageUrl" id="imageUrl" formControlName="imageUrl">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripcion</mat-label>
    <textarea matInput type="text" name="text" id="text" formControlName="description"></textarea>
  </mat-form-field>
  <button mat-button [disabled]="form.invalid">Guardar</button>
</form>